<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
    <a mat-tab-link 
    (click)="activeLink = 'Home'"
    [active]="activeLink == 'Home'" 
    routerLink="/">Home</a>
    
    @for (link of links; track link) {
      <a mat-tab-link
        (click)="activeLink = link"
        [active]="activeLink == link"
        routerLink="/{{link | lowercase}}"> {{link}} </a>
    }
    <button mat-raised-button class="example-action-button" (click)="toggleBackground()">
    Toggle background
    </button>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>


  