/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #ffb6c1;
  --secondary-color: #e6e6fa;
  --background-color: #fff0f5;
  --text-color: #5a5a5a;
  --text-background-color: rgba(255, 240, 245, 0.6);
  }
  
  .dark-mode {
    --background-color: #222222;
    --text-color: white;
    --text-background-color: rgba(18, 18, 18, 0.6); 
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  /* Cute rounded buttons */
  button {
    background: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background: #ff85a2;
  }
  

  .clouds {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
  }
  
  .cloud {
    position: absolute;
    width: 100px;
    opacity: 0.8;
    /* mix-blend-mode: multiply; */
    z-index: 1;
  }
  
  .cloud1 {
    animation: moveClouds 60s linear infinite;
    top: 20px;
    left: -100px;
  }
  
  .cloud2 {
    animation: moveClouds 50s linear infinite reverse;
    top: 70px;
    left: -150px;
  }
  
  @keyframes moveClouds {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100vw);
    }
  }

  .sakura-container {
    position: fixed; /* Ensures it stays in the same place */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
  }

  .sakura {
    position: fixed;
    width: 20px;
    height: 18px;
    background-image: url('assets/images/flower.png');
    background-size: contain;
    opacity: 0.8;
    pointer-events: none; 
    animation: fall_flower linear infinite;
    z-index: 2;
  }

  .rain {
    position: fixed;
    width: 12px;
    height: 18px;
    background-image: url('assets/images/rain.png');
    background-size: contain;
    opacity: 0.8;
    pointer-events: none; 
    animation: fall_rain linear infinite;
    z-index: 2;
  }
  
  @keyframes fall_flower {
    0% {
      transform: translateY(-10vh) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes fall_rain {
    0% {
      transform: translateY(-10vh);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }

  h1, h2, h3, p {
    position: relative;
    z-index: 5;
    /* background-color: var(--text-background-color); */
  }
  
