/* div.relative {
    position: relative;
} */

img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
}

h1, h2, h3 {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin-top: 10%;
    text-align: center;
    z-index: 1000;
}

h1.left {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: lighter; */
    font-style: italic;
    font-size: xx-large;
    text-align: left;
    margin-left: 10%;
}

h2.left, h3.left {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: lighter; */
    text-align: left;
    margin-left: 10%;
    margin-right: 40%;
}

p {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    text-align: left;
    margin-left: 10%;
    margin-right: 40%;
}

p.left {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    text-align: left;
    margin-left: 10%;
}

